<div class=" card custom-card" *ngIf="!isLoader">
  <h2 class=" card-title px-4 py-3 mb-0">Building List</h2>
  <div class="card-body">
    <div class="row py-4" >
      <form  [formGroup]="filterForm" class="row py-4 w-100" >
        <div class="col-md">
          <mat-form-field appearance="outline" class="w-100 px-2">
            <mat-label>Search</mat-label>
            <input matInput formControlName="search" placeholder="Search" #input>
          </mat-form-field>
        </div>
        <div class="col-md">
          <mat-form-field appearance="outline" class="w-100 px-2">
            <mat-label>Configurations</mat-label>
            <mat-select  multiple formControlName="config">
              <mat-option   
              *ngFor="let configuration of configurationsList " 
              [value]='configuration'
              class="text-capitalize">
                {{configuration}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md">
          <mat-form-field appearance="outline" class="w-100 px-2">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price" placeholder="Price" #priceInput>
          </mat-form-field>
        </div>
      </form>
        
    </div>
    <table mat-table [dataSource]="buildingList" class="custom-table" 
    *ngIf="buildingList.data.length"
    matSort>
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 
            <span class="text-capitalize"> {{ column | getHeaderName}}</span>  
          </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>