.custom-card {
    height: 95%;
    .heading {
        padding: 12px 0px;
    }
    table { width: 100%;}
    .custom-table {
        border: 1px solid #e0e0e0 ;
    }
    .text-capitalize {
        text-transform: capitalize;
    }
}